<h1 class="text-black font-bold text-2xl mb-2">Todo List</h1>
<app-element *ngFor=" let todo of todoService.todo$ | async" [todo]="todo"></app-element>


<button (click)="openModal()" class="fixed right-2 bottom-2 rounded-full font-bold bg-red-600 text-white w-10 h-10">
  +
</button>
<app-modal *ngIf="modalServices.modalIsVisible$ | async"></app-modal>

