<div class="container flex flex-row mx-auto justify-between max-w-xl my-auto">
  <button
    class="border bg-blue-500 w-[100px] rounded text-white font-bold hover:bg-red-600 transition-colors"
    (click)="decrement()"
  >
    -
  </button>
  <p class="text-lg font-bold">{{count}}</p>
  <button
    class="border bg-blue-500 w-[100px] rounded text-white font-bold hover:bg-red-600 transition-colors"
    (click)="increment()"
  >
    +
  </button>
</div>
