<div class="w-1/2 flex-row flex gap-2">
  <input type="checkbox" [(ngModel)]="checked" (ngModelChange)="handleChecked()"  [value]="todo?.completed" >
  <h3 [style]="checked ? {textDecoration: 'line-through', color: 'green'} : {}"  class="text-lg">{{todo?.name}}</h3>
  <button (click)="handleDelete()" class="bg-red-600 rounded-full w-6 h-6 text-white ml-auto hover:bg-red-900 transition-colors">&times;</button>
</div>
