<div class="fixed bg-black/50 top-0 right-0 left-0 bottom-0" (click)="modalServices.close()"></div>

<div class="max-w-2xl w-full absolute top-16 rounded p-6 bg-white left-1/2 -translate-x-1/2 py-5 justify-between flex flex-col ">
  <h1 class="font-bold text-center mb-4">Add Todo</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="flex flex-row w-full justify-between"
  >
    <input
      type="text"
      class="border py-2 px-4  my-auto h-full mr-2 w-full"
      placeholder="Product name"
      formControlName="name"
      appFocus
    >
    <p *ngIf="name.touched && name?.errors" class="font-bold text-red-600">Min length of name is 3. Current length
      is {{name.errors?.minlength?.actualLength}}</p>
    <button type="submit"
            [disabled]="name.errors?.minlength"
            class="py-2 px-4 bg-blue-600 text-white rounded"
    >
      +
    </button>
  </form>
</div>
